<div class="section_products">
<div class="section_titles">
  <h3>The BIG deals</h3>
    <p>Don't miss out on these great deals! Grab them before it's gone!</p>
</div>
<div class="product_display">
    <div class="product_row">
      <div class="col-sm-4">
        <div class="product_thumbnail">
          <img src="assets/red_tent.jpeg" alt="tent">
          <div class="product_caption">
            <h3>Ozark Trail Tent</h3>
            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem</p>
            <p><a href="#" class="btn btn-primary" role="button">View Details</a> <a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="product_thumbnail">
            <img src="assets/sleeping_bag.jpeg" alt="sleeping_bag">
            <div class="product_caption">
              <h3>Ozark Trail Sleeping Bag</h3>
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem </p>
              <p><a href="#" class="btn btn-primary" role="button">View Details</a> <a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="product_thumbnail">
              <img src="assets/tent_chair.jpeg" alt="tent_chair">
              <div class="product_caption">
                <h3>Ozark Trail Tent Chair</h3>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem </p>
                <p><a href="#" class="btn btn-primary" role="button">View Details</a> <a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
              </div>
          </div>
      </div>

      <a href="" class="btn btn-default">View More</a>
    </div>
  </div>
  </div>